*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	user-select: none;
	font: italic small-caps bold 16px/2 cursive;
}

body {
	background: linear-gradient(0deg, #870000, #190a05);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 0 40px 9px #360000;
	margin: auto;
	width: 1280px;
	height: 720px;
	aspect-ratio: 16/9;
}



@media screen and (min-width: 1280px) {
	@keyframes bgMove {
		from {
			background-position-x: 0px;
		}

		to {
			background-position-x: -1280px;
		}
	}
}

@media screen and (max-width: 1280px) {
	@keyframes bgMove {
		from {
			background-position-x: 0px;
		}

		to {
			background-position-x: -100vw;
		}
	}
}

.pg-title {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: linear-gradient(0deg, #870000, #190a05);
	width: 100%;
	height: 100%;
}

.pg-title__link {
	background: #ffffff8a;
	position: absolute;
	border-radius: 0 0 5px 0;
	padding: 5px;
	top: 0;
	left: 0;
}

.pg-title__link:hover {
	background: #ffffff;
}

.pg-title__logo {
	font-size: 135px
		/* clamp(50px, 10vw, 135px) */
	;
	color: #fff;
	text-align: center;
	text-shadow: -3px 0px 0px #ff0000,
		3px 0px 0px #009cff;


}

.button {
	color: #870000fc;
	padding: 10px 20px;
	width: 100%;
	text-align: center;
	margin: 20px auto;
	display: block;
	background-color: #ffffffc9;
	background-position: 90% 0;
	background-size: 210% 100%;
	transition: all 0.2s ease-in;
	font: 400 18px tahoma;
	border: none;
	transform: skewX(10deg);
	cursor: pointer;
	max-width: 300px;
}

.button::after {
	content: "⫸";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25px;
	margin: auto;
	font-size: 28px;
	opacity: 0;
}

.button:hover {
	background-color: #ffffff;
	background-position: 0 0;
	color: #000000;
	box-shadow: -3px -3px 0px #ff0000,
		3px 3px 0px #009cff;
}

.button:hover::after {
	opacity: 1;
}

.disabled {
	color: #8d8d8d;
	user-select: none;
	pointer-events: none;
}

.pg-title__fourthrow {
	display: flex;
	flex-direction: row;
}

.mouse-parallax {
	height: 720px;
	width: 1280px;
	position: absolute;
	overflow: hidden;
	z-index: 0;
}

.mouse-parallax-bg,
.mouse-parallax-fog-1,
.mouse-parallax-fog-2 {
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 110%;
	height: 110%;
	transition: all 0.1s ease;
	z-index: 1;
}

.mouse-parallax-fog-1 {
	background-image: url("img/Starspng2.png");
	left: -10%;
}

.mouse-parallax-fog-2 {

	background-image: url("img/Starspng.png");
}

.pg-title__firstrow,
.pg-title__secondrow,
.pg-title__thirdrow,
.pg-title__fourthrow {
	z-index: 1;
}

.pg-game__track {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	color: white;
}

.pg-game__playfield {
	display: block;
	background: linear-gradient(0deg, #870000, #190a05);
	width: 1280px;
	height: 720px;
	cursor: none/* url(img/spasecraft.png) 0 0, auto */;
	overflow: hidden;
}
#spasecraft{
	width: 10%;
}












.hide-block {
	display: none;
}